/* Extra Large Screens */
/* @media (min-width:1920) {} */

/* Desktops */
@media (max-width:1919px) {
    .container {
        max-width: 1919px;
        padding: 0 5%;
    }
}

/* Large Tablets */
@media (max-width:1199px) {
    body{
        font-size: 14px;
    }
    .container {
        padding: 0 3%;
    }
    .hero-section {
        margin-top: -132px;
        padding-top: 140px;
    }
    .hero-content h2 {
        font-size: clamp(44px, 5vw, 30px);
    }
    .hero-content h3 {
        font-size: 24px;
        margin: 26px 0px;
    }
    .main-menu ul li {
        padding: 15px 19px;
        /* font-size: 14px; */
    }
    .main-menu ul li {
        padding: 10px 19px;
    }
    .tdropdown-menu {
        top: 40px;
        left: 4px;
        width: 155px;
    }
    .btn {
        padding: 8px 21px;
    }
    .section-title {
        font-size: clamp(36px, 5vw, 20px);
    }
    .about-section .section-subtitle {
        font-size: clamp(20px, 5vw, 15px);

    }
    .section-details {
        line-height: 25px;
    }
}

/* Small Tablets */
@media (max-width:991px) {
    .main-menu {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100vh;
        background:var(--sky-blue-color);

    }
    .main-menu ul li{
        display: block;
        padding: 20px 0;
    }
    .main-menu ul li:hover{
        background: #000;
    }
    .user{
        visibility: hidden;
        pointer-events: none;
    }
    .toggle-btn{
        visibility: visible;
        pointer-events: all;
    }
    .main-menu.active{
        visibility: visible;
        pointer-events: all;
    }
}

/* Extra Small Devices */
@media (max-width:767px) {

}
   
/* Mobile */
@media (max-width:480px) {
    
}